{% extends 'base.html.twig' %}

{% block body %}
	
	<main class="px-5 pt-3 w-100">
		<h2 class="py-3 align-self-start "><span class="subtitle">Désabonnement</span></h2>

		<section class="section-txt py-5 align-self-start ">		
			<p class="italic clear">
				Votre désabonnement a été correctement pris en compte.
			</p>
		</section>
	</main>

{% endblock %}