{% extends 'base.html.twig' %}

{% block body %}
	<header>
		<a href="https://www.louispion.fr"> <img src="/images/lp_01.png" alt="" class="logo" width="308"></a>
	</header>	

	<main>
		<h2><span class="subtitle">Désabonnement</span></h2>
		<form action="">
			<div class="bloc-form">
				<div class="border">
					<div class="label bold"> 
						<span>Adresse : </span> 
					</div>
					<div class="email">some.mail@mail.fr</div>
				</div>	

				<div class="clear spacer"></div>

				<div class="border" >
					<div class="label bold"> 
						<span class="raison">Raison : </span> 
					</div>
					<div>
						<span class="question"> Pour quelle raison ne souhaitez-vous plus recevoir nos emails ? </span> <br />

						<input type="radio" name="raison" value=""> 
						<label>Je ne suis plus intéressé <br /></label>

						<input type="radio" name="raison" value="">  
						<label>Les messages sont trop fréquents <br /></label>

						<input type="radio" name="raison" value=""> 
						<label> Je n'arrive pas à lire les messages <br /></label>

						<input type="radio" name="raison" value=""> 
						<label>Je n'ai jamais demandé à être inscrit <br /></label>

						<input type="radio" name="raison" value="other"> 
						<label>Autre </label>
					</div>
				</div>
			</div>

			<div class="spacer"></div>

			<section class="section-txt">		
				<p class="italic clear">
					Nous essayons chaque jour de vous fournir des contenus inspirants, un œil mode aguerri et une expertise horlogère toujours plus adaptée à vos besoins. 
					<br />
					C’est pourquoi il est important pour nous de pouvoir toujours communiquer avec nos clients privilégiés comme vous ! 
				</p>
				<p class="bold">
					Êtes-vous sûr(e) de vouloir vous désinscrire ?
				</p>
			</section>	
			<section class="section-cta">
				<a class="cta" href="http://louispion.fr">
					<button type="submit">
						<span class="cta-txt">
							Je me désinscris
						</span>
					</button type="submit">	
				</a>
			</section>
		</form>
	</main>

	<div class="spacer"></div>

	<footer>
		<p>
			La protection de vos données personnelles est une de nos priorités. Vos données sont uniquement utilisées pour vous permettre de rester informé des actualités de Louis Pion et de Galeries Lafayette - Royal Quartz Paris, vous proposer des offres exclusives et vous offrir des services adaptés à vos besoins.<br /><br />
		</p> 
		<p>
			Les informations recueillies sont enregistrées dans un fichier informatisé par notre société mère Sofidi.<br />
			Elles sont conservées pendant une durée de 5 ans et sont destinées uniquement aux services de notre société mère Sofidi et ses filiales (Louis Pion SAS, Royal Orly SAS et Royal Airport SAS).<br /><br />
		</p>
		<p> 
			Conformément à la Règlementation en matière de protection des données à caractère personnel, vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier ou supprimer en faisant la demande par courrier auprès de
			<br />
			Louis Pion - Service Client
			<br />
			<a href="https://www.google.fr/search?q=23+rue+balzac+75008&rlz=1C1CHBD_frFR799FR799&oq=23+rue+balzac+75008+&aqs=chrome..69i57j0l5.14223j0j4&sourceid=chrome&ie=UTF-8">23 rue Balzac 75008 Paris</a> ou par email à l'adresse:<br /><a href="mailto:serviceclientele@louispion.fr">serviceclientele@louispion.fr</a> 
		</p>
		<a href="https://www.louispion.fr"><img src="/images/elt_deco.jpg" alt="louis-pion" class="elt-deco"></a>
	</footer>

{% endblock %}