body#login,body#register {
    background: url('https://hdqwalls.com/wallpapers/blue-blur.jpg');
    background-size: cover;
}

.mh-100 {
    min-height: 100vh;
}
.mh-75 {
    min-height: 75vh;
}
.mh-50 {
    min-height: 50vh;
}
.mh-25 {
    min-height: 25vh;
}
