// assets/css/global.scss

/*
 * Fichier SASS global à générer via le module Enore
 * @author Jérome Rabahi
 * @version 1.0
 * Template Bootstrap
 */

// Edit all Bootstrap variables bellow
$some_var: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
/*
 * Import Sources
 */
@import '~bootstrap/scss/bootstrap';

@import 'custom';
@import 'login';
