#index:
#    path: /
#    controller: App\Controller\DefaultController::index

# the "app_lucky_number" route name is not important yet

# Routes home
homepage:
    path: /
    controller: App\Controller\AppController::homepage

unsubscribe:
    path: /unsubscribe/{campaign}/{email}/{hash}
    controller: App\Controller\AppController::unsubscribe

validate:
    path: /validate
    controller: App\Controller\AppController::validate

# Routes Admin
admin:
    path: /admin
    controller:  App\Controller\AdminController::admin

# Routes security
security_login:
    path: /login
    controller:  App\Controller\SecurityController::login

security_logout:
    path: /logout
    controller:  App\Controller\SecurityController::logout

security_register:
    path: /register
    controller: App\Controller\SecurityController::register

security_account_validation:
    path: /account_validation/{id}/{token}
    controller: App\Controller\SecurityController::account_validation
