<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony4 Project!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %} mh-100">


    <div class="container-fluid mh-100">
        <div class="row mh-100">
            {% block body %}{% endblock %}

            {% block javascripts %}
                <script src="{{ asset('build/js/app.js') }}"></script>
            {% endblock %}
        </div>
    </div>
</body>
</html>
